<li><a href="#/home">Home</a></li><!--  class="active" -->
<li><a href="#/about">About</a></li>
<li><a href="#/resume">Résumé</a></li>
<li><a href="#/portfolio">Portfolio</a></li>
<li><a href="#/contact">Contact</a></li>
<!-- <li><a ui-sref="resume">Résumé</a></li> -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="return false">CMS <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="//blog.alexnow.com">My Blog (Wordpress)</a></li>
    <li><a href="//drupal.alexnow.com">Tech Blog (Drupal)</a></li>
<!--
    <li role="separator" class="divider"></li>
    <li><a href="#">Coming soon:</a></li>
-->
    <li><a href="//joomla.alexnow.com">Field Day (Joomla)</a></li>
  </ul>
</li>
