<p style="float:right"><a class="btn btn-primary btn-lg" href="#/resume" role="button">Next: Résumé</a></p>
<h2>{{title}}</h2>
<br clear="all" />

<p class="lead">I am a Web Designer</p>

<p>I love to code, my experience is with the LAMP stack, primarily with PHP and MySQL.</p>
<p>I also enjoy doing front-end design. My favorite technologies to work with are jQuery, Bootstrap and AngularJS.</p>
<p>I'm currently available for hire, you can find me on <a href="https://www.linkedin.com/in/alexnow" class="btn-sm btn-primary" target="_blank">LinkedIn</a>, and once they're approved, I will include links to my Hired, Freelancer and Upwork profiles.</p>
<p style="float:right"><a class="btn btn-primary btn-lg" href="#/resume" role="button">Next: Résumé</a></p>
