<a class="btn btn-primary btn-lg btn-next-top" href="#/contact" role="button">Next: Contact</a>
<h2>{{title}}</h2>
<br clear="all" />

<p>I've spent the last few months working for an agency that specializes in Magento ecommerce websites. We support about 20 clients and empower them to run their online stores.</p>

<p>Prior to that I did work for <a href="http://www.ddb.com" target="_blank">DDB</a>, an Ad Agency based out of Seattle, developing web based apps written in PHP on the CodeIgniter Framework for internal use in Performance Reviews and Talent Management.</p>

<p>I have a few code samples on my <a href="https://github.com/alexdevprojects/pub" class="btn-sm btn-primary" target="_blank">GitHub</a> with more to come soon.</p>

<p>These are some of the websites I have worked on:</p>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in portfolio_data.listing">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="text-lead"><a href="{{item.url}}" target="_blank">{{item.name}}</a></p>
        </div>
        <div class="panel-body text-center">
          <img ng-src="{{item.icon}}" alt="{{item.name}}" class="img-thumbnail center-block" width="80%">
        </div>
        <div class="panel-footer" style="color:#777">
          <p class="bg-info">Development type: {{item.type}} <span class="text-right">({{item.date}})</span></p>
          {{item.info}}
          <ul>
            <li ng-repeat="bullet in item.items">{{bullet}}</li>
          </ul>
          <blockquote>
            {{item.blurb}}
            <footer>{{item.blurb_a}}</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-primary btn-lg btn-next-btm" href="#/contact" role="button">Next: Contact</a>

<!-- placeholder image credit: http://www.pacinno.eu/?attachment_id=367 -->
