<p style="float:right"><a class="btn btn-primary btn-lg" href="#/contact" role="button">Next: Contact</a></p>
<h2>{{title}}</h2>
<br clear="all" />

<p>The client I've worked for the longest (Nov 2013 - Jan 2015) is <a href="http://www.ddb.com" target="_blank">DDB</a>, they're an Ad Agency based out of Seattle and part of the Omnicom Group.<br />
  I developed web based apps witten in PHP on the CodeIgniter Framework for internal use in Performance Reviews and Talent Management.</p>

<p>Because those apps are for internal use only I am not able to link to them. What I will do is sift through my old project files and pick up code snippets to put up on my <a href="https://github.com/alexdevprojects/pub" class="btn-sm btn-primary" target="_blank">GitHub</a>.</p>

<p>Very soon I will also recreate some of the UI functionality I developed, populate it with sample data and added to this list.</p>

<p>Meanwhile, here are some of the live websites I have worked on:</p>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in portfolio_data.listing">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="text-lead"><a href="{{item.url}}" target="_blank">{{item.name}}</a></p>
        </div>
        <div class="panel-body">
          <img ng-src="{{item.icon}}" alt="{{item.name}}" class="img-thumbnail" width="80%">
        </div>
        <div class="panel-footer" style="color:#777">
          <p class="bg-info">Development type: {{item.type}} <span class="text-right">({{item.date}})</span></p>
          {{item.info}}
          <ul>
            <li ng-repeat="bullet in item.items">{{bullet}}</li>
          </ul>
          <blockquote>
            {{item.blurb}}
            <footer>{{item.blurb_a}}</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <p style="float:right"><a class="btn btn-primary btn-lg" href="#/contact" role="button">Next: Contact</a></p>

<!-- placeholder image credit: http://www.pacinno.eu/?attachment_id=367 -->
